:root {
  --primaryDark: #0b3142;
  --primaryLight: #eaf0ce;
  --secondary: #0f5257;
  --accent: #fe9000;
  --textLight: #eaf0ce;
  --textDark: #0b3142;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--textLight);
}

a {
  text-decoration: none;
}

button {
  height: 5rem;
  background: none;
  border-color: var(--accent);
  outline: none;
  box-shadow: none;
  padding: 1rem 2rem;
}

body {
  background-color: var(--primaryDark);
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

.letter-color {
  color: var(--accent);
}

/* ---- Navbar ---- */

#navbar {
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: var(--accent);
  border-radius: 50%;
  display: inline-block;
}

/* ---- Header ---- */

#header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 200px;
}

.text {
  text-align: right;
}

.circle {
  position: relative;
  height: 220px;
  width: 220px;
  border: 5px solid var(--accent);
  border-radius: 80%;
  z-index: 5;
}

#head-img {
  position: absolute;
  left: -10px;
  top: 10px;
  height: 180px;
  border-radius: 50%;
  z-index: 2;
}

#left-eye {
  position: absolute;
  height: 30px;
  z-index: 0;
  left: 60px;
  top: 77px;
}

#right-eye {
  position: absolute;
  height: 33px;
  z-index: 0;
  left: 110px;
  top: 75px;
}

#background-eye {
  position: absolute;
  height: 35px;
  width: 90px;
  z-index: -1;
  left: 50px;
  top: 74px;
}

/* ---- Logo animation ---- */

#logo-animation {
  position: relative;
  font-size: 5rem;
  display: flex;
  width: 300px;
}

#smaller-then {
  position: absolute;
}

@keyframes greater-then-animation {
  0% {
    left: 0;
    transform: rotate(0rad);
  }
  20% {
    left: 200px;
    transform: rotate(3.142rad);
  }
  80% {
    left: 200px;
    transform: rotate(3.142rad);
  }
  100% {
    left: 0;
    transform: rotate(0rad);
  }
}

#logo-animation:hover > #smaller-then {
  animation: greater-then-animation 3s;
}

@keyframes smaller-then-animation {
  0% {
    transform: rotate(0rad);
  }
  20% {
    transform: rotate(3.142rad);
  }
  80% {
    transform: rotate(3.142rad);
  }
  100% {
    transform: rotate(0rad);
  }
}

#logo-animation:hover > #greater-then {
  animation: smaller-then-animation 3s;
}

/* ---- About  ---- */

#about {
  background-color: var(--primaryLight);
  min-height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 50px;
}

.container h2 {
  color: var(--textDark);
}

.container p {
  color: var(--textDark);
}
